:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: var(--text);    
    background-image: var(--gradient),
    linear-gradient(0deg, var(--mainbg-primary), var(--mainbg-secondary)),
    url("https://cdn.mos.cms.futurecdn.net/YyzvoTZfzN9bRYYvpZzZWY.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }

  main h1 {
    font-size: 4rem;
  }

  main img {
    max-width:100%;
    max-height:100%;
  }

  .row{
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 100;
    }

  .signature {
    float: right;
    margin-right: 10px;
    font-size: 0.75rem;
  }

  .signature a {
    text-decoration: none;
  }

  .signature a:visited{
    color: var(--text);
    text-decoration: none;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 6rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    overflow-y: hidden;
  }

  .navbar::-webkit-scrollbar {
    height: 0.25rem;
  }
  
  .navbar::-webkit-scrollbar-track {
    background: var(--bar);
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bar: #1e1e24;
    --mainbg-primary: rgba(67, 43, 57, 0.9);
    --mainbg-secondary: rgba(58, 32, 58, 0.9);
    --text: white;
    --gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 29%, rgba(0, 0, 0, 0.55) 100%);
    --loader: #1e0b1c;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --bar: #b6b6b6;
    --mainbg-primary: rgba(255, 226, 243, 0.9);
    --mainbg-secondary: rgba(255, 212, 255, 0.9);
    --text: black;
    --gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 29%, rgba(255, 255, 255, 0.55) 100%);
    --loader: #ffb8f8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--loader);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .loader {
    transform: translateZ(1px);
  }
  .loader:after {
    content: ' ';
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    line-height:40px;
    font-size: 32px;
    font-weight: bold;
    background: #FFD700;
    color: #DAA520;
    border: 4px double ;
    box-sizing: border-box;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
    animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes coin-flip {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  